<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlockyFabric - Editor</title>
    <%- include('../components/imports') %>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/editor/editor.css">
    <link rel="stylesheet" href="/styles/editor/blockly.css">
    <%- include('../components/themes') %> <!-- Theme -->
</head>
<body>
    <%- include('../components/navbar') %> <!-- Navbar -->

    <!-- Editor Buttons -->
    <div class="button-container">
        <button id="saveButton" class="floating-editor-btn"><img class="icon-light" src="/images/icons/save.svg" alt="Save"> Save</button>
        <button class="floating-editor-btn" onclick="updateCodeDisplay()"
        data-bs-toggle="modal" data-bs-target="#exportCodeModal"><img class="icon-light" src="/images/icons/export.svg" alt="Export"> Export</button>
        <button data-bs-toggle="modal" data-bs-target="#modSettings" class="floating-editor-btn"><img class="icon-light" src="/images/icons/settings.svg" alt="Settings"> Settings</button>
    </div>


    <!-- Editor Area with Blockly -->
    <div id="blocklyDiv"></div>


    <!-- Slide in Messages -->

    <!-- Error Element -->
    <div class="error-slidein" id="error-slidein">
        <div class="error-text">
            <b>An error accoured</b>
            <span class="error" id="error-slidein-text"> Test error</span>
        </div>
        <div class="error-line"></div>
    </div>

    <!-- Success Element -->
    <div class="error-slidein" id="success-slidein">
        <div class="error-text">
            <b>Success!</b>
            <span class="error" id="success-slidein-text"> Test success</span>
        </div>
        <div class="success-line"></div>
    </div>

    <!-- Modals -->
    <%- include('../components/exportModal') %>
    <%- include('../components/projectSettings') %>


<!-- Scripts -->
<script src="/src/authCheck.js"></script>

<!-- Blockly core -->
<script src="/blockly/blockly_compressed.js"></script>
<script src="/blockly/blocks_compressed.js"></script>
<script src="/blockly/javascript_compressed.js"></script>
<script src="/blockly/msg/en.js"></script>

<!-- Editor js files -->
<script src="/src/editor/editor.js"></script>
<script src="/src/editor/codegen/main.js"></script>
<script src="/src/editor/modSettings.js"></script>

<!-- PrismJS -->
<link rel="stylesheet" href="/prism/themes/prism-tomorrow.css"> <!-- PrismJS CSS -->
<script src="/prism/prism.js"></script> <!-- PrismJS Core JS -->
<script src="/prism/components/prism-java.js"></script> <!-- Java language support -->

</body>
</html>
