<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlockyFabric - Profile</title>
    <%- include('../components/imports') %>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/profile.css">
</head>
<body>
    <%- include('../components/navbar') %>  <!-- Navbar -->
    <% if (user && user.username) { %>
        <!-- TODO: Chage this to own icon or remove -->
        <a href="/settings"><img src="/images/icons/setting.png" class="settings" alt="settings"></a>
        <div class="p-4 text-center mt-5">
            <h2 class="mb-3">Your Profile</h2>
            <form id="upload-form" enctype="multipart/form-data">
                <div class="profile-image-preview">
                    <img id="preview-img" src="<%= (user && user.profileImage) ? user.profileImage : 'default.png' %>">
                    <span id="file-name"></span>  <!-- File name display -->
                    <span id="filesize-error" class="error-message hidden"></span>
                </div>

                <label for="file-input" class="custom-file-upload btn btn-primary">
                    Choose File
                </label>
                <input type="file" id="file-input" name="profileImage" accept="image/*" hidden>

                <button type="submit" class="btn btn-success custom-file-upload">Upload</button>
            </form>
            <h3 class="mt-4"><%= user.username %></h3>
            <%= user.email %>
        </div>
    <% } else { %>
        <div class="p-4 text-center mt-5">
            <h2>Please log in to view your profile.</h2>
        </div>
    <% } %>
</body>

<script src="./src/profile.js"></script>
<script src="./src/authCheck.js"></script>
</html>
